/**********************************/
/* Below 704px (Phones) */
/**********************************/

@media (max-width: 44em) {
  .grid--2-cols {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }

  .grid--3-cols {
    grid-template-columns: 1fr;
  }

  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  // Features
  .feature--img-box:nth-child(2) {
    grid-row: 1;
  }
  .feature-text-box {
    margin: 0;
  }

  .feature__container {
    width: 80%;
  }
  .heading--secondary {
    font-size: 4.4rem;
  }
  .feature__text {
    font-size: 1.8rem;
    line-height: 1.8;
  }
  .btn--features:link,
  .btn--features:visited {
    font-size: 1.6rem;
  }
  .feature-overlay {
    top: 64%;
    width: 80%;
  }

  .heading--tertiary {
    font-size: 3.2rem;
  }

  .feature-overlay-text {
    font-size: 1.8rem;
    line-height: 1.8;
  }

  // Testimonials

  .heading--testimonials {
    margin-bottom: 6.4rem;
    font-size: 2rem;
  }
  .testimonials {
    gap: 10rem;
  }
  .container {
    padding: 14rem 4rem 14rem 4rem;
  }
  .testimonials {
    width: 70%;
    margin: 0 auto;
  }
}
