/**********************************/
/* Below 944px (Tablets) */
/**********************************/

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  /*//////////////////
  // HEADER
  //////////////////*/

  .header {
    position: relative;
  }

  /*//////////////////
  // HERO
  //////////////////*/

  .section-hero {
    height: 80vh;
  }

  // when mobile navigatio is open hide arrow
  .nav-open .hero__arrow {
    opacity: 0;
  }

  /*//////////////////
  // HEADING
  //////////////////*/

  .heading--primary {
    font-size: 5rem;
    letter-spacing: 7px;
  }

  .heading--secondary {
    font-size: 3.2rem;
  }

  .heading--secondary br {
    display: none;
  }

  .heading--tertiary {
    font-size: 2.8rem;
  }

  /*//////////////////
  // FEATURES
  //////////////////*/

  .feature-text-box {
    align-items: center;
  }

  .feature__container {
    width: 70%;
    // reseting margins
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .feature__text {
    font-size: 1.6rem;
    line-height: 1.7;

    margin-bottom: 4rem;
  }
  .btn--features:link,
  .btn--features:visited {
    font-size: 1.4rem;
  }

  .feature-overlay {
    width: 74%;
    top: 58%;
    left: 50%;
    text-align: center;
  }

  .feature-overlay-text {
    font-size: 1.6rem;
    line-height: 1.5;
  }

  .header {
    padding: 4rem 3rem 4rem 3rem;
  }

  .logo {
    width: 15.4rem;
  }

  /*/////////////////////
  // MOBILE NAVIGATION //
  /////////////////////*/

  .btn--nav {
    display: block;
    background: none;
    border: none;
  }

  .nav--main {
    // hiding mobile nav to be able to animate it
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    transition: all ease-out 400ms;
  }

  .nav-open .nav--main {
    // showing mobile nav
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

  .nav--main {
    position: absolute;
    top: 13.2rem;
    right: 3rem;
    left: 3rem;
    background-color: var(--color-neutral-background);
    z-index: 100;
  }

  .nav--main::before {
    // this is the little triangle in the top of the nav
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    top: -3rem;
    right: 0;
    // this is what makes the shape
    border-top: 30px solid transparent;
    border-right: 30px solid var(--color-neutral-background);
  }

  .nav--main .nav__list {
    flex-direction: column;
    justify-content: center;
    gap: 4.2rem;
    margin: 0 auto;
    padding: 5rem 0;
  }

  .nav--main .nav__link:link,
  .nav--main .nav__link:visited {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--color-neutral-gray-medium);
  }

  .nav--main .btn--contact:link,
  .nav--main .btn--contact:visited {
    display: inline-block;
    font-size: 2rem;
    color: var(--color-neutral-blue);
    background-color: var(--color-primary-yellow--hover);
    padding: 1.8rem 3rem;
  }

  .nav--main .btn--contact:hover,
  .nav--main .btn--contact:active {
    background-color: var(--color-primary-yellow);
  }
}
