/**********************************/
/* Below 944px (Tablets) */
/**********************************/

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  // Navigation
  .btn--nav {
    display: block;
    background: none;
    border: none;
  }
  .nav--main {
    display: none;
  }

  .nav-open .nav--main {
    display: flex;
  }

  // Hero
  .heading--primary {
    font-size: 4.4rem;
  }

  // Features

  .feature-text-box {
    align-items: center;
  }

  .feature__container {
    width: 62%;
    margin-top: 0;
    margin-left: 0;
  }

  .heading--secondary {
    font-size: 3.2rem;
  }
  .heading--secondary br {
    display: none;
  }
  .feature__text {
    font-size: 1.6rem;
    line-height: 1.7;

    margin-bottom: 4rem;
  }
  .btn--features:link,
  .btn--features:visited {
    font-size: 1.4rem;
  }

  .feature-overlay {
    top: 58%;
    left: 50%;

    width: 54%;
    text-align: center;
  }

  .heading--tertiary {
    font-size: 2.8rem;
  }

  .feature-overlay-text {
    font-size: 1.4rem;
    line-height: 1.5;
  }
}
