/**********************************/
/* Below 944px (Tablets) */
/**********************************/

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .header {
    position: relative;
  }

  // Hero
  .heading--primary {
    font-size: 4.4rem;
  }

  // Features

  .feature-text-box {
    align-items: center;
  }

  .feature__container {
    width: 70%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .heading--secondary {
    font-size: 3.2rem;
  }
  .heading--secondary br {
    display: none;
  }
  .feature__text {
    font-size: 1.6rem;
    line-height: 1.7;

    margin-bottom: 4rem;
  }
  .btn--features:link,
  .btn--features:visited {
    font-size: 1.4rem;
  }

  .feature-overlay {
    top: 58%;
    left: 50%;

    width: 74%;
    text-align: center;
  }

  .heading--tertiary:link,
  .heading--tertiary:visited {
    font-size: 2.8rem;
  }

  .feature-overlay-text {
    font-size: 1.6rem;
    line-height: 1.5;
  }

  .header {
    padding: 4rem 3rem 4rem 3rem;
  }

  .logo {
    width: 15.4rem;
  }

  /*/////////////////////
  // MOBILE NAVIGATION //
  /////////////////////*/
  ///
  ///   // Navigation
  .btn--nav {
    display: block;
    background: none;
    border: none;
  }
  .nav--main {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    transition: all ease-out 400ms;
  }

  .nav-open .nav--main {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
  .nav--main {
    background-color: var(--color-neutral-background);
    position: absolute;
    top: 13.2rem;
    right: 3rem;
    left: 3rem;
    z-index: 100;

    // width: 100%;
  }
  .nav--main::before {
    content: "";
    height: 0;
    width: 0;
    border-top: 30px solid transparent;
    border-right: 30px solid var(--color-neutral-background);

    // background-color: var(--color-neutral-white);
    position: absolute;
    top: -3rem;
    right: 0;
  }
  .nav--main .nav__list {
    flex-direction: column;
    justify-content: center;
    gap: 4.2rem;
    margin: 0 auto;
    padding: 5rem 0;
  }

  .nav--main .nav__link:link,
  .nav--main .nav__link:visited {
    color: var(--color-neutral-gray-medium);
    font-size: 2.4rem;
    font-weight: 600;
  }

  .nav--main .btn--contact:link,
  .nav--main .btn--contact:visited {
    background-color: var(--color-primary-yellow--hover);

    font-size: 2rem;
    color: var(--color-neutral-blue);
    display: inline-block;
    padding: 1.8rem 3rem;
  }
}
