* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

html {
  font-size: 62.5%;
}

:root {
  --color-primary-red: rgba(254, 120, 103, 0.3);
  --color-primary-red--hover: rgba(254, 120, 103, 1);
  --color-primary-yellow: rgba(250, 212, 0, 0.3);
  --color-primary-yellow--hover: rgba(250, 212, 0, 1);
  --color-primary-blue: hsl(198, 62%, 26%);
  --color-primary-cyan-dark: hsl(167, 40%, 24%);
  --color-primary-cyan-light: hsl(168, 34%, 41%);
  --color-neutral-white: rgb(255, 255, 255);
  --color-neutral-white--hover: rgba(255, 255, 255, 0.7);
  --color-neutral-blue: hsl(212, 27%, 19%);
  --color-neutral-gray-dark: hsl(213, 9%, 39%);
  --color-neutral-gray-medium: hsl(232, 10%, 55%);
  --color-neutral-gray-light: hsl(210, 4%, 67%);
  --color-neutral-footer: #90d4c5;
  --color-neutral-footer-icon: hsl(166, 45%, 31%);
}

:root {
  --font-barlow: "Barlow", sans-serif;
  --font-fraunces: "Fraunces", serif;
}

.heading {
  font-family: var(--font-fraunces);
  font-weight: 900;
}

.heading--primary {
  font-size: 5.6rem;
  text-transform: uppercase;
  color: var(--color-neutral-white);
  letter-spacing: 10px;
  margin-bottom: 9.3rem;
}

.heading--secondary {
  font-size: 4rem;
  color: var(--color-neutral-blue);
  margin-bottom: 3.2rem;
  font-weight: 900;
}

.heading--tertiary {
  font-size: 2.8rem;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 3rem;
}

.section-hero {
  background-image: url("./../images/desktop/image-header.jpg");
  background-size: cover;
  background-position: bottom;
  height: 86.4vh;
}

.hero {
  margin: 0 auto;
  text-align: center;
  margin-top: 6.8rem;
}

.hero__arrow {
  -webkit-animation: arrow-animation 2s;
          animation: arrow-animation 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes arrow-animation {
  from {
    transform: translateY(0%);
  }
  40% {
    transform: translateY(14%);
  }
  80% {
    transform: translateY(0%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes arrow-animation {
  from {
    transform: translateY(0%);
  }
  40% {
    transform: translateY(14%);
  }
  80% {
    transform: translateY(0%);
  }
  to {
    transform: translateY(0%);
  }
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.6rem 4.6rem 4.6rem 4rem;
}

.logo {
  width: 17rem;
}

.logo img {
  width: 100%;
}

.feature {
  overflow: hidden;
  background-color: #fffbf8;
}

.feature img {
  height: 100%;
  width: 100%;
}

.feature-text-box {
  display: flex;
  justify-content: center;
}

.feature__container {
  width: 62%;
  margin-top: 22%;
  margin-left: 8%;
}

.feature__container--second {
  margin-left: 0%;
  margin-right: 8%;
}

.feature__text {
  font-size: 1.8rem;
  line-height: 1.65;
  font-family: var(--font-barlow);
  color: var(--color-neutral-gray-medium);
  font-weight: 600;
  margin-bottom: 4rem;
}

.feature-text-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-text-img-box {
  position: relative;
}

.feature-overlay {
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translateX(-50%);
  width: 48%;
  text-align: center;
}

.feature-overlay-text {
  font-size: 1.6rem;
  line-height: 1.7;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  font-family: var(--font-barlow);
}

.section-testimonials {
  background-color: #fffbf8;
  font-family: var(--font-barlow);
  font-weight: 600;
}

.container {
  max-width: 110rem;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 15.8rem;
  padding-top: 15.8rem;
}

.heading--testimonials {
  text-transform: uppercase;
  letter-spacing: 4.4px;
  font-size: 2.1rem;
  color: var(--color-neutral-gray-light);
  margin-bottom: 8.2rem;
}

.testimonial__img {
  height: 7.2rem;
  width: 7.2rem;
  border-radius: 50%;
  margin-bottom: 6rem;
}

.testimonial__text {
  font-size: 1.8rem;
  color: var(--color-neutral-gray-dark);
  line-height: 1.7;
  margin-bottom: 7rem;
}

.testimonial__name {
  font-size: 1.8rem;
  font-family: var(--font-fraunces);
  font-weight: 900;
  color: var(--color-neutral-blue);
  margin-bottom: 1.4rem;
}

.testimonial__job {
  font-size: 1.4rem;
  color: var(--color-neutral-gray-light);
}

.section-gallery img {
  width: 100%;
}

.footer {
  background-color: var(--color-neutral-footer);
}

.logo--footer {
  fill: var(--color-primary-blue);
  margin-bottom: 4rem;
  transform: translateX(-0.6rem);
}

.container--footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 7.4rem;
  padding-bottom: 6rem;
}

.fa-brands {
  color: var(--color-neutral-footer-icon);
  transform: scale(0.72);
  transition: color ease-out 200ms;
}

.fa-brands:hover {
  color: var(--color-neutral-white);
}

.social-links:not(:last-child) {
  margin-right: 0.8rem;
  display: inline-block;
  padding: 0.6rem;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.nav__link:link,
.nav__link:visited {
  font-size: 1.8rem;
  text-decoration: none;
  color: var(--color-neutral-white);
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  transition: all ease-out 200ms;
}

.nav__link:hover,
.nav__link:active {
  color: var(--color-primary-cyan-light);
}

.nav--footer {
  margin-bottom: 7.8rem;
}

.nav__list--footer {
  gap: 5.6rem;
}

.nav__link--footer:link,
.nav__link--footer:visited {
  color: var(--color-primary-cyan-light);
  transition: color ease-out 200ms;
  font-weight: 600;
}

.nav__link--footer:hover,
.nav__link--footer:active {
  color: var(--color-neutral-white);
}

.btn--nav {
  display: none;
}

.btn:link,
.btn:visited {
  font-family: var(--font-fraunces);
  font-weight: 700;
  color: var(--color-neutral-blue);
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  border-radius: 10rem;
}

.btn--contact:link,
.btn--contact:visited {
  background-color: var(--color-neutral-white);
  font-size: 1.6rem;
  letter-spacing: -0.4px;
  font-weight: 700;
  transition: all ease-out 300ms;
}

.btn--contact:hover,
.btn--contact:active {
  color: var(--color-neutral-white);
  background-color: #6fcfff;
}

.btn--features:link,
.btn--features:visited {
  padding: 0.8rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 900;
  text-decoration: none;
  position: relative;
  z-index: 2;
}

.btn--features:link::after,
.btn--features:visited::after {
  content: "";
  width: 98%;
  height: 1rem;
  border-radius: 10rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -60%);
  z-index: -1;
  transition: background-color ease-out 200ms;
}

.btn--features-yellow:link::after,
.btn--features-yellow:visited::after {
  background-color: var(--color-primary-yellow);
}

.btn--features-red:link::after,
.btn--features-red:visited::after {
  background-color: var(--color-primary-red);
}

.btn--features-yellow:hover::after,
.btn--features-yellow:active::after {
  background-color: var(--color-primary-yellow--hover);
}

.btn--features-red:hover::after,
.btn--features-red:active::after {
  background-color: var(--color-primary-red--hover);
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

@media (min-width: 100em) {
  .feature__container {
    width: 70%;
  }
  .heading--secondary {
    font-size: 4.8rem;
    margin-bottom: 6.4rem;
  }
  .heading--secondary br {
    display: none;
  }
  .feature__text {
    font-size: 2rem;
    margin-bottom: 8.6rem;
    line-height: 1.8;
  }
  .btn--features {
    font-size: 1.8rem;
  }
  .feature-overlay {
    top: 70%;
  }
  .feature-overlay-text {
    font-size: 1.8rem;
    line-height: 1.8;
  }
  .grid--3-cols {
    gap: 8rem;
  }
  .container {
    max-width: 140rem;
  }
}
/**********************************/
/* Below 1200px (Landscape Tablets) */
/**********************************/
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  /*//////////////////
  // FEATURES
  //////////////////*/
  .feature__container {
    width: 68%;
    margin-top: 16%;
    margin-left: 6%;
  }
  .feature-overlay {
    top: 60%;
  }
  .heading--tertiary {
    margin-bottom: 2.4rem;
  }
  /*//////////////////
  // TESTIMONIALS
  //////////////////*/
  .grid--3-cols {
    gap: 2.4rem;
  }
  .container {
    padding: 14rem 2rem 14rem 2rem;
    padding-bottom: 15.8rem;
    padding-top: 15.8rem;
  }
  .heading--testimonials {
    margin-bottom: 6.4rem;
  }
  .testimonial__img {
    margin-bottom: 3.2rem;
  }
  .testimonial__text {
    font-size: 1.6rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
  }
  .testimonial__name {
    font-size: 1.6rem;
  }
  .testimonial__job {
    font-size: 1.2rem;
  }
}
/**********************************/
/* Below 944px (Tablets) */
/**********************************/
@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
  .btn--nav {
    display: block;
    background: none;
    border: none;
  }
  .nav--main {
    display: none;
  }
  .nav-open .nav--main {
    display: flex;
  }
  .heading--primary {
    font-size: 4.4rem;
  }
  .feature-text-box {
    align-items: center;
  }
  .feature__container {
    width: 70%;
    margin-top: 0;
    margin-left: 0;
  }
  .heading--secondary {
    font-size: 3.2rem;
  }
  .heading--secondary br {
    display: none;
  }
  .feature__text {
    font-size: 1.6rem;
    line-height: 1.7;
    margin-bottom: 4rem;
  }
  .btn--features:link,
.btn--features:visited {
    font-size: 1.4rem;
  }
  .feature-overlay {
    top: 58%;
    left: 50%;
    width: 74%;
    text-align: center;
  }
  .heading--tertiary {
    font-size: 2.8rem;
  }
  .feature-overlay-text {
    font-size: 1.6rem;
    line-height: 1.5;
  }
}
/**********************************/
/* Below 704px (Phones) */
/**********************************/
@media (max-width: 44em) {
  .grid--2-cols {
    grid-template-columns: 1fr;
  }
  .grid--3-cols {
    grid-template-columns: 1fr;
  }
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .feature--img-box:nth-child(2) {
    grid-row: 1;
  }
}/*# sourceMappingURL=main.css.map */