:root {
  // Primary colors
  --color-primary-red: hsl(7, 99%, 70%);
  --color-primary-yellow: hsl(51, 100%, 49%);
  --color-primary-blue: hsl(198, 62%, 26%);
  --color-primary-cyan-dark: hsl(167, 40%, 24%);
  --color-primary-cyan-light: hsl(168, 34%, 41%);

  // Neutral colors
  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-blue: hsl(212, 27%, 19%);
  --color-neutral-gray-dark: hsl(213, 9%, 39%);
  --color-neutral-gray-medium: hsl(232, 10%, 55%);
  --color-neutral-gray-light: hsl(210, 4%, 67%);
}
