.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
  // to make sure images and content have enough area
  grid-template-rows: repeat(3, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
