// Header navigation
.nav__list {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.nav__link:link,
.nav__link:visited {
  text-decoration: none;
  font-size: 1.8rem;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  color: var(--color-neutral-white);
  transition: all ease-out 300ms;
}

.nav__link:hover,
.nav__link:active {
  color: var(--color-primary-cyan-light);
}

// Footer navigation
.nav--footer {
  margin-bottom: 7.8rem;
}

.nav__list--footer {
  gap: 5.6rem;
}

.nav__link--footer:link,
.nav__link--footer:visited {
  color: var(--color-primary-cyan-light);
  transition: color ease-out 200ms;
  font-weight: 600;
}

.nav__link--footer:hover,
.nav__link--footer:active {
  color: var(--color-neutral-white);
}

// mobile navigation button
.btn--nav {
  display: none;
  opacity: 0.5;
}
