.footer {
  background-color: var(--color-neutral-footer);
  position: relative;
}

.logo--footer {
  fill: var(--color-primary-blue);
  margin-bottom: 4rem;
  transform: translateX(-0.6rem);
}

.container--footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 7.4rem;
  padding-bottom: 6rem;
}

.fa-brands {
  color: var(--color-neutral-footer-icon);
  transform: scale(0.72);
  transition: color ease-out 200ms;
}

.fa-brands:hover {
  color: var(--color-neutral-white);
}

.social-links:not(:last-child) {
  margin-right: 0.8rem;
  display: inline-block;
  padding: 0.6rem;
}

// attribution
.attribution {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);

  font-family: var(--font-barlow);
  color: var(--color-neutral-blue);

  font-size: 1.1rem;
  text-align: center;
}

.attribution a:link,
.attribution a:visited {
  text-decoration: none;
  border-bottom: 1px solid var(--color-primary-blue);
  font-family: var(--font-fraunces);
  color: var(--color-primary-blue);
  cursor: pointer;
  transition: all ease-out 300ms;
}

.attribution a:hover,
.attribution a:active {
  color: var(--color-neutral-white);
  border-bottom: 1px solid var(--color-neutral-white);
}
