.section-hero {
  background-image: url("./../images/desktop/image-header.jpg");
  background-size: cover;
  background-position: bottom;
  height: 86.4vh;
}

.hero {
  margin: 0 auto;
  text-align: center;
  margin-top: 6.8rem;
}
